{{#each posts}}
<div class="media">
  <a href="/userProfile/{{postUser._id}}"><img src="{{postUser.image}}" class="mr-3" width="64px"></a>
  <div class="media-body">
    <h5 class="mt-0">{{title}}</h5>
    <small>{{getLastMoment date 'hour'}}</small>
    <img src="{{image}}" width="64px">
    <p>{{body}}</p>

    <br>
    <h4>
      <a href="/likePost/{{_id}}">
        <i class="fa fa-thumbs-up post-icons"></i>
      </a>
      {{#if allowComments}}
      <a href="/fullpost/{{_id}}">
        <i class="fa fa-comments-o post-icons"></i>
      </a>
      {{else}}
      <small class="red" style="font-size: 12px;">Comments are turned off for this post</small>
      {{/if}}
    </h4>

    <br>

    <a href="/fullPost/{{_id}}">View More</a>
  </div>
</div>
<hr>
{{else}}
<p>No posts found...</p>
<hr>
{{/each}}
