<div class="row">
  <div class="col-sm">
    <div class="card" style=" background-color:aquamarine; height: 200px; width: 200px;">
      <img src="{{user.image}}" class="card-img-top" alt="">

    </div>
  </div>
  <div class="col-sm" id="profile-info">

      <h5 class="card-title"><i class="fa fa-user"> Fullname:</i> {{user.fullname}}</h5>
      <p class="card-text"><i class="fa fa-envelope"> Email:</i> {{user.email}} </p>
      <p class="card-text"><i class="fa fa-mars"> {{user.gender}}</i></p>
      <p class="card-text"><i class="fa fa-id-card"> {{user.about}}</i></p>
      <hr>
      <h5 onclick="editProfile()">
        <i class="fa fa-edit"> Edit Profile</i>
        <a href="/askToDelete"><i class="fa fa-trash"> Delete Profile</i></a>
        </h5>



  </div>

  <div class="col-sm" id="profileEditor" style="display:none;">
    <form action="/updateProfile" method="POST">
    <div class="form-group">
      <input type="text" name="fullname" id="fullname" value="{{user.fullname}}" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" name="email" id="email" value="{{user.email}}" class="form-control">
    </div>
    <div class="form-group">
      <select name="gender" id="gender" class="form-control">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <input  type="text" name="about" id="about" value="{{user.about}}" class="form-control">
    </div>
    <button type="submit" class="btn btn-danger">Save</button>
    </form>
  </div>

</div>

<script>
  function editProfile(){
    document.getElementById('profile-info').style.display = 'none';
    document.getElementById('profileEditor').style.display = 'block';

  }
</script>
