<div class="row">
  <div class="col-sm">
    <div class="card" style="  height: 8rem; width: 8rem;">

      <a href="/uploadImage">{{#if user.image}}
        <img src="{{user.image}}" class="card-img-top img-fluid" alt="">
        {{else}}
        <img src="./images/default-user.png" class="card-img-top" alt="">
        {{/if}}</a>

    </div>
  </div>
  <div class="col-sm" id="profile-info">

    <h5 class="card-title"><i class="fa fa-user"> Fullname:</i> {{user.fullname}}</h5>
    <p class="card-text"><i class="fa fa-envelope"> Email:</i> {{user.email}} </p>
    <p class="card-text"><i class="fa fa-mars"> {{user.gender}}</i></p>
    <p class="card-text"><i class="fa fa-id-card"> {{user.about}}</i></p>
    <hr>
    <h5 onclick="editProfile()">
      <i class="fa fa-edit"> Edit </i>
      <a href="/askToDelete"><i class="fa fa-trash"> Delete </i></a>
    </h5>



  </div>

  <div class="col-sm" id="profileEditor" style="display:none;">
    <form action="/updateProfile" method="POST">
      <div class="form-group">
        <input type="text" name="fullname" id="fullname" value="{{user.fullname}}" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" name="email" id="email" value="{{user.email}}" class="form-control">
      </div>
      <div class="form-group">
        <select name="gender" id="gender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" name="about" id="about" value="{{user.about}}" class="form-control">
      </div>
      <button type="submit" class="btn btn-danger">Save</button>
    </form>
  </div>

</div>
<hr>
<i class="fa fa-paperclip" id="clipper" onclick="showUploadForm()"> Attach image</i>
<div id="image-form" style="display: none;">
  <h3 class="center">
    <i class="fa fa-spinner" id="spinner" style="display: none;"></i>
  </h3>
  <form action="/uploadPictures" method="POST" id="upload-form">
    <div class="form-group">
      <button type="button" class="btn btn-info upload-btn">Choose image</button>
      <input type="file" name="upload" id="upload-input" style="display: none;">
    </div>

    <div class="form-group">
      <button type="button" onclick="showSpinnerandSubmitForm()" class="btn btn-success">Upload</button>
    </div>

  </form>
</div>

<h2 class="center">My images</h2>
<div class="row">
  {{#each user.pictures}}

  <div class="col-md-3 pictures">
    <div class="card">
      <img src="{{image}}" id="pic"  onclick="enlargePicture()" class="card-img-top picture">
      <p>
        <a class="right" href="/deletePicture/{{_id}}">
          <i class="fa fa-trash image-icons"></i>
        </a>
      </p>
    </div>

  </div>

  {{else}}
  <p>You have no images</p>
  {{/each}}
</div>

<script>
  function showUploadForm() {
    document.getElementById('clipper').style.display = "none";
    document.getElementById('image-form').style.display = "block";
  }

  function showSpinnerandSubmitForm() {
    document.getElementById('upload-form').style.display = 'none';
    document.getElementById('spinner').style.display = 'block';

    setTimeout(function () {
      document.getElementById('upload-form').submit();
    }, 10)
  }

  function enlargePicture(){
    document.getElementById('pic').style.width = 'auto';
    document.getElementById('pic').style.height = 'auto';
  }
</script>

<hr>
<h2 class="center">My friends</h2>
{{#each user.friends}}
<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width:10rem;">
      <img src="{{friend.image}}" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{friend.fullname}}</h5>
        <a href="/userProfile/{{friend._id}}" class="btn btn-primary">View Profile</a>
      </div>
    </div>
  </div>
</div>
{{else}}
<p>You do not have any friends</p>
{{/each}}
<hr>
<div class="container">
  <h2 class="center">My Posts</h2>
  {{#each posts}}
  <div class="media">
    <img src="{{postUser.image}}" class="mr-3" width="20px">
    <div class="media-body">
      <h5 class="mt-0">{{postUser.fullname}}</h5>
      <small>{{status}} <i class="{{icon}}"></i></small>
      <p>{{body}}</p>
      <p>{{image}}</p>
      {{#if image}}
      <img src="{{image}}" class="img-fluid" width="64px">
      {{/if}}
      <br>
      <small>{{getLastMoment date 'hour'}}</small>
      <br>
      <p>
        <a href="/editPost/{{_id}}"><i class="fa fa-pencil post-icons"></i></a>
        <a href="/deletePost/{{_id}}"><i class="fa fa-trash post-icons"></i></a>
      </p>
    </div>
  </div>
  {{else}}
  <p>No posts to show</p>
  {{/each}}
</div>
<script>
  function editProfile() {
    document.getElementById('profile-info').style.display = 'none';
    document.getElementById('profileEditor').style.display = 'block';

  }
</script>
