<div class="container-fluid">
  {{#each singles}}
  {{#if online}}

    <div class="row">
      <div class="col-sm-3">
        {{#if image}}
        <img src="{{image}}" class="rounded-circle" width="25%">
        {{else}}
        <img src="./images/default-user.png" class="rounded-circle" width="75px">
        {{/if}}
        <br>
        <i class="fa fa-circle green"> online</i>
      </div>
    </div>
  

  {{else}}
  <a href="/userProfile/{{_id}}">
    <div class="row">
      <div class="col-sm-3">
        {{#if image}}
        <img src="{{image}}" class="rounded-circle" width="25%">
        {{else}}
        <img src="./images/default-user.png" class="rounded-circle" width="75px">
        {{/if}}
        <br>
        <i class="fa fa-circle gray"> offline</i>
      </div>
    </div>
  </a>
  {{/if}}
  {{/each}}

</div>
