<div class="card" style="width: 18rem;">
{{#if oneUser.image}}
<img src="{{oneUser.image}}" width="100%" alt="">
{{else}}
<img src="/images/default-user.png" width="100%" alt="">
{{/if}}
  <div class="card-body">
    <h5 class="card-title">{{oneUser.fullname}}</h5>
    <small class="card-text">{{oneUser.gender}}</small>
    <p class="card-text">{{oneUser.about}}</p>
    <a href="/startChat/{{oneUser._id}}"  class="btn btn-primary">
      <i class="fa fa-commenting"></i>
    </a>

    {{#if smile}}
    <a href="/deleteSmile/{{oneUser._id}}" class="btn btn-danger">
      <i class="fa fa-smile-o" id="newsmile"></i>
    </a>
    <script>
      var smile = document.getElementById("newsmile");
      setInterval(function(){
        smile.style.color = "white";
      }, 100)
      setInterval(function(){
        smile.style.color = "red";
      }, 300)
    </script>
    {{else}}
    <a href="/sendSmile/{{oneUser._id}}" class="btn btn-outline-danger">
      <i class="fa fa-smile-o"></i>
    </a>
    {{/if}}
  </div>
</div>
